h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #545457;
    padding-top: 10px;
}

.container {
    background: url(../images/logo.svg) no-repeat #FFF left top;
    background-size: 160px;
    padding-top: 50px;
}

.container img {
    max-width: 100%;
    margin-top: 20px;
}

table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td,th {
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}
h1 {
    /*margin-bottom: 10px;*/
    padding-bottom: 18px;
    font-size: 30px;
    border-bottom: 1px solid #DDD;
}
h2 {
    font-size: 24px;
    padding-top: 40px;
}
h3 {
    padding-top: 20px;
    font-size: 18px;
}
h4 {
    font-size: 16px;
    padding-top: 10px;
    margin-top: 15px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    margin-bottom: 18px;
    /*font-family:georgia,serif;*/
    font-style: italic;
}
/*blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}*/
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 5px;
    padding-left: 15px;
    border-left: 2px solid #DDD;
    font-style: italic;
}
code, pre {
    font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
* {
	-webkit-print-color-adjust: exact;
}

.nav {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    position: sticky;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
}

.nav a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

#toc {
    position: fixed;
    left: 0;
    top: 122px;
    padding: 10px;
    padding-top: 20px;
    border-top: 1px solid #DDD;
    font-size: 11px;
}

#toc a {
    text-decoration: none;
    color: #444;
}

#toc a:hover {
    text-decoration: underline;
}

#toc a.selected {
    font-weight: bold;
    color: #0069D6;
}

#toc ul {
    padding-left: 15px;
}

#toc ul, #toc li {
    list-style-type: none;
}

.footer {
    margin-top: 100px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 650px;
        margin:10px auto;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    #toc {
        position: relative;
        top: inherit;
        left: inherit;
        border-bottom: 1px solid #DDD;
        border-top: none;
    }
}

@media print {
    body,code,pre code,h1,h2,h3,h4,h5,h6 {
        color: black;
    }
    table, pre {
        page-break-inside: avoid;
    }
}

table tr:nth-child(2n) {
    background: #F8F8F8
}

table td {
    padding: 10px;
}

blockquote p {
    margin-bottom: 25px;
}